# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
env/
venv/
.venv/

# Django stuff
*.log
*.pot
*.pyc

# VS Code settings
.vscode/

# Static and media
staticfiles/