* {
	font-family: Arial, Helvetica, sans-serif;
}

nav {
	border: red solid 1px;
}
.dropdown-choice {
	position: relative;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	min-width: 200px;
	z-index: 1;
}

.dropdown-content li {
	list-style: none;
}

.dropdown-content li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: black;
}

.dropdown-content li a:hover {
	background-color: #f1f1f1;
}

/* Show dropdown on hover */
.dropdown-choice:hover .dropdown-content {
	display: block;
}