/* Navigation Bar */
#navbar {
	background-color: var(--background);
	position: relative;
	z-index: 2;
	padding: 1rem;
}

/*main #navbar list container*/
#navbar ul {
	display: flex;
	justify-content: right;
	list-style-type: none;
	font-size: 1.2rem;
	margin: 0;
	padding: 0;
}

/* Nav links */
#navbar ul li {
	position: relative;
	color: var(--text);
	display: flex;
	align-items: center;
	height: 100%;
}

#navbar ul li a {
	text-decoration: none;
	color: var(--text);
	cursor: pointer;
	display: inline-block;
	padding: 0.5rem 1rem;
}

#navbar ul li a:hover {
	color: var(--highlight)
}

#navbar ul li:hover {
	color: var(--highlight);
	border-radius: 15%;
	box-shadow: inset;
}


#navbar ul li ul {
	opacity: 0;
	transform: translateY(10px);
	pointer-events: none;
	transition: opacity 0.25s ease, transform 0.25s ease;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: var(--background);
	padding: 0.5rem 0;
	z-index: 100;
	min-width: 100%;
	flex-direction: column;

}

/* Dropdown list items */
#navbar ul li ul li {
	width: 100%;
}


#navbar ul li ul li a:hover {
	background-color: var(--highlight);
	color: var(--background);
	border-radius: 4px;
	width: 100%;
}