{% include "info.html" %}

{% include "nav.html" %}

{% load static %}

<script type="module" src="{% static 'outJS/intro.js' %}"></script>
<script type="module" src="{% static 'outJS/projectCards.js' %}"></script>

<body data-view-mode="{{view_mode}}">

	<div class="display">
		<!-- particles.js container -->



		{% if HomeContent %}

		<!-- Both Views -->
		<section id="welcome-card" tabindex="0" hidden="false">
			<div id="particles-js">
			</div>


			<h1 id="welcome-title" hidden="true">
				<span id="line">Digital</span>
				<span id="line">Portfolio</span>
			</h1>
			<div id="UX-prompt-container">
				<h2 id="welcome-text">
					<span id="typing-text"></span>
					<span id="cursor"></span>
				</h2>
				<!-- UX button prompts -->
				<div id="Choose-UX"></div>
			</div>
			<h4 id="welcome-name" hidden="true">Parker Middleton</h4>
			<div id="welcome-contents" hidden="true">
				{{HomeContent.welcome_message|safe}}
			</div>
		</section>


		<!-- Both Views -->
		<section id="about-card">
			<h2 class="about-title">About Me</h2>
			<div class="about-contents">
				<div class="about-left">
					{{HomeContent.about_message|safe}}
				</div>
				<div class="about-right">
					<img class="about-image" src="{{HomeContent.about_image.url}}">
				</div>
			</div>
		</section>

		<!-- Recruiter Only -->
		<section id="project-display-card">
			<div id="project-display-card-title">
				Project Snapshot
			</div>
			<div id="project-grid">
				{% for P in Projects %}
				<div class="individual-project-card"   style="background-image: url({{P.title_image.url}});">

					<div class="project-overlay">

						<div class="ipc-title">
							{{P.title}}
						</div>

						<div class="ipc-details">
							<p>{{ P.technologies }}</p>
							<p>{{ P.date }}</p>
							<p class="ipc-details-des">{{ P.project_description}}</p>
							<a href="{% url 'project' project_id=P.id %}" class="details-link-wrapper">
								<button class="details-link">View Full Project</button>
							</a>
						</div>

					</div>
				</div>
				{% endfor %}
			</div>
		</section>
		<section id="cta-footer-card">
			<h2 class="cta-title">Connect & View My Work</h2>

			<div id="cta-links-grid">

				<a href="{{ HomeContent.github}}" class="cta-link github-cta">
					<h3>GitHub Profile</h3>
					<p>View source code and contributions.</p>
				</a>

				<a href="{{ HomeContent.linkedin}}"  class="cta-link linkedin-cta">
					<h3>LinkedIn</h3>
					<p>Connect and see my professional history.</p>
				</a>

				<a href="{{HomeContent.resume_image.url}}" target="_blank" class="cta-link resume-cta">
					<h3>View/Download Resume</h3>
					<p>Opens my resume PDF in a new window.</p>
				</a>

			</div>
		</section>



		{% endif %}
	</div>
</body>