{% include "info.html" %}

{% include "nav.html" %}

<body data-view-mode="{{view_mode}}">

	<div class="display">
		<!-- particles.js container -->



		{% if HomeContent %}

		<!-- Both Views -->
		<section id="welcome-card" tabindex="0" hidden="false">
			<div id="particles-js">
			</div>


			<h1 id="welcome-title" hidden="true">
				<span id="line">Digital</span>
				<span id="line">Portfolio</span>
			</h1>
			<div id="UX-prompt-container">
				<h2 id="welcome-text">
					<span id="typing-text"></span>
					<span id="cursor"></span>
				</h2>
				<!-- UX button prompts -->
				<div id="Choose-UX"></div>
			</div>
			<h4 id="welcome-name" hidden="true">Parker Middleton</h4>
			<div id="welcome-contents" hidden="true">
				{{HomeContent.welcome_message|safe}}
			</div>
		</section>


		<!-- Both Views -->
		<section id="about-card">
			<h2 class="about-title">About Me</h2>
			<div class="about-contents">
				<div class="about-left">
					{{HomeContent.about_message|safe}}
				</div>
				<div class="about-right">
					<img class="about-image" src="{{HomeContent.about_image.url}}">
				</div>
			</div>
		</section>

		<!-- Recruiter Only -->
		<section id="project-display-card">
			<div id="project-display-card-title">
				Project Snapshot
			</div>
			<div id="project-grid">
				{% for P in Projects %}
				<div class="individual-project-card"  
					style="background-image: url({{P.title_image.url}});">
						<div class="ipc-title">
							{{P.title}}
						</div>
				</div>
				{% endfor %}
			</div>
		</section>

		<section id="resume-card">
			<h1>Resume Card</h1>
		</section>
		{% endif %}
	</div>
</body>