{% include "info.html" %}

{% include "nav.html" %}

{% load static %}

<script type="module" src="{% static 'outJS/intro.js' %}"></script>
<script type="module" src="{% static 'outJS/projectCards.js' %}"></script>

<body data-view-mode="{{view_mode}}">
	<div class="display">
		{% if HomeContent %}

		<!-- Both Views -->
		<section id="welcome-card" tabindex="0" hidden="false">


			<div id="particles-js"></div>


			<h1 id="welcome-title" hidden="true">
				<span id="line">Digital</span>
				<span id="line">Portfolio</span>
			</h1>
			<h4 id="welcome-name" hidden="true">Parker Middleton</h4>
			<div id="welcome-contents" hidden="true">
				{{HomeContent.welcome_message|safe}}
			</div>
		</section>

		<!-- Both Views -->
		<section id="about-card">
			<h2 class="about-title">About Me</h2>
			<div class="about-contents">
				<div class="about-left">
					{{HomeContent.about_message|safe}}
				</div>
				<div class="about-right">
					<img class="about-image" src="{{HomeContent.about_image.url}}">
				</div>
			</div>
		</section>

		<!-- Recruiter View -->
		<section id="project-display-card">
			<div id="project-display-card-title">
				Project Snapshot
			</div>
			<div id="project-grid">
				{% for P in Projects %}
				<div class="individual-project-card"  style="background-image: url({{P.title_image.url}});">

					<div class="project-overlay">

						<div class="ipc-title">
							{{P.title}}
						</div>

						<div class="ipc-details">
							<p>{{ P.technologies }}</p>
							<p>{{ P.date }}</p>
							<p class="ipc-details-des">{{ P.project_description}}</p>
							<p>Key Concepts</p>
							<ul>
								{% for concept in P.design_concepts.all %}
								<li>{{concept.title}}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>

		<!-- Recruiter View -->
		<!-- CE = Continue Experiece -->
		<section id="ce-section">
			<h2 id="ce-title">Wanna Dive Deeper?</h2>
			<div id="ce-card">
				<p class="ce-description">
					This is just the gist, but your journey shouldn't stop here.
					<br>The Standard View unlocks the full narrative.
				</p>
				<div class="ce-features-list">
					<span>Video Walkthroughs</span>
					<span>Design Concepts</span>
					<span>Key Code Files</span>
				</div>
				<button id="switch-to-standard-button">Standard View</button>
			</div>
		</section>

		<!-- Standard View -->
		<!-- direct to project section -->
		<section id="dtp-section">
			<div id="particles-js"></div>
			<h2 id="dtp-title">Check out my projects!</h2>
			<div id="dtp-button-wrapper">
				<a href="{% url 'project' project_id=1%}"><button>Lets Go</button></a>
			</div>
		</section>

		


		<!-- Both views -->
		<section id="cta-footer-card">
			<h2 class="cta-title">Connect & View My Work</h2>

			<div id="cta-links-grid">

				<a href="{{ HomeContent.github}}" class="cta-link github-cta">
					<h3>GitHub Profile</h3>
					<p>View source code and contributions.</p>
				</a>

				<a href="{{ HomeContent.linkedIn}}" class="cta-link linkedin-cta">
					<h3>LinkedIn</h3>
					<p>Connect and see my professional history.</p>
				</a>

				<a href="{{HomeContent.resume_image.url}}" target="_blank" class="cta-link resume-cta">
					<h3>View/Download Resume</h3>
					<p>Opens my resume PDF in a new window.</p>
				</a>

			</div>
		</section>

		{% endif %}
	</div>
</body>