{% include "info.html" %}
{% include "nav.html" %}
<main>

	<title>{{Active_Project.title}}</title>


	<div class="display">

		<div class="title-box">
			<p class="proj-title">{{Active_Project.title}}</p>
			<p class="proj-technologies">{{Active_Project.technologies}}</p>
			<p class="proj-date">{{Active_Project.date}}</p>
		</div>

		<div class="content">

			<div class="left">
				<p class="minor-title">Summary</p>
				<p class="proj-description">{{Active_Project.project_description}}</p>
			</div>

			<div class="center">
				<p class="github-code">Some github code</p>
				<p class="video-demo">Some video walkthrough</p>
			</div>

			<div class="right">
				<p class="minor-title">Associated Course</p>
				<p class="proj-course">{{Active_Project.course}}</p>
				<p class="proj-course-description">{{Active_Project.course_description}}</p>
			</div>
		</div>
	</div>

</main>