{% include "info.html" %}
{% include "nav.html" %}
<main>

	<title>{{Active_Project.title}}</title>

	{{ url_list|json_script:"codeURLS"}}

	<div class="display">
		<div class="title-box" style="background-image: url({{Active_Project.title_image.url}});">
			<p class="proj-title">{{Active_Project.title}}</p>
			<p class="proj-technologies">{{Active_Project.technologies}}</p>
			<p class="proj-date">{{Active_Project.date}}</p>
		</div>

		<div class="content">

			<div class="left">
				<p class="minor-title">Summary</p>
				<p class="proj-description">{{Active_Project.project_description}}</p>
			</div>

			<div class="center">
				<p class="github-code">Some github code</p>
				<p class="video-demo">Some video walkthrough</p>
			</div>

			<div class="right">
				<p class="minor-title">Associated Course</p>
				<p class="proj-course">{{Active_Project.course}}</p>
				<p class="proj-course-description">{{Active_Project.course_description}}</p>
			</div>
		</div>

		<!-- Code display -->
		<div class="code-container">
			<div class="code-wrapper">

				<div class="code-box">
					<nav class="code-nav">
						<ul class="code-name-list" id="code-name-list">

						</ul>
					</nav>
					<pre><code id="GHCode" class="language-csharp"></code></pre>
				</div>
			</div>
		</div>
	</div>


</main>